<body>
        <div class="container">
      
          <div class="card o-hidden border-0 shadow-lg">
            
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-3"> 
                    <h1 class="h4 text-gray-900 mb-4" style="margin: 15% 0% 0% 5%">Apply For Leave</h1>
                </div>
                <div class="col-lg-7">
                  <div class="p-5">
                    <form class="user" #formData="ngForm"  (ngSubmit) = "formData.valid && onSubmit(formData.value)" >
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input placeholder="From - Date"  name="fromDate"  #fromDate="ngModel" [(ngModel)] = "leaveData.FromDate" 
                                class="form-control form-control-user textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                            </div>
                            <div class="col-sm-6">
                                <input placeholder="To - Date"    name="toDate" #toDate="ngModel" [(ngModel)]="leaveData.ToDate"  
                                class="form-control form-control-user textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">                           
                               </div>
                            </div>
                      <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <input type="text"     name="firstName" #firstName="ngModel" [(ngModel)]="leaveData.FirstName"  
                          class="form-control form-control-user"  id="exampleFirstName" placeholder="First Name">
                        </div>
                        <div class="col-sm-6">
                          <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="leaveData.LastName" 
                          class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                        </div>
                      </div>
                      <div class="form-group">
                           <input type="text"  name="empId" #empId="ngModel" [(ngModel)]="leaveData.EmpID"
                           class="form-control form-control-user" id="exampleInputEmail" placeholder="Employee ID">
                      </div>
                      <div class="form-group">
                        <input type="email" name="empEmail" #empEmail="ngModel" [(ngModel)]="leaveData.Email" 
                        class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                      </div>
                      <div class="form-group">
                          <input type="text"  name="empPhone" #empPhone="ngModel" [(ngModel)]="leaveData.MobileNo" 
                          class="form-control form-control-user" id="exampleInputPassword" placeholder="Mobile Number">
                      </div>
                      <div class="form-group">
                            <textarea rows="4" cols="60" name="reason" #reason="ngModel" [(ngModel)]="leaveData.ReasonForLeave" 
                            class="form-control form-control-user" id="exampleInputPassword" placeholder="Reason for leave"></textarea>
                        </div>
                      <button  class="btn btn-primary btn-user btn-block" type="submit">
                        Apply
                      </button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
        </div> 
</body>
