<body id="page-top">
    <div id="wrapper">
    <app-sidebar></app-sidebar>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <app-header></app-header>
            </div>
            <!-- <router-outlet></router-outlet>  -->
    <div class="col-sm-12" *ngIf = "data == false">
        <table class="table">
            <thead>
             <tr>
                <th>EmpId</th><td>{{ profile.EmpID }}</td>
            </tr>
            <tr>
                <th>FullName</th><td>{{ profile.FirstName + " " +profile.LastName }}</td>
            </tr>    
            <tr>
                <th>Gender</th><td>{{ profile.Gender }}</td>
            </tr>
            <tr>
                <th>Email</th><td>{{ profile.Email }}</td>
            </tr>
            <tr>
                <th>Mobile</th><td>{{ profile.MobileNo }}</td>
            </tr>
            <tr>
                <td><button    routerLink = "/editProfile/:id" class="btn btn-secondary">Edit</button></td>
            </tr>
                 
        </thead>
    </table>
</div>
<app-footer></app-footer>
</div>
</div>
</body>

